.cars {
    width: 35%;
    height: 79.5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.carsMod {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.carsModSearchInput {
    border-radius: 8px;
    height: 25px;
    width: 100%;
    background: rgba(73, 151, 252, 0.466);
    cursor: pointer;
}


.carView {
    width: 100%;
    height: 100%;
    direction: rtl;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}