.main {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.cars {
    width: 50%;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.carsMod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.carsModSearchInput {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.carView {
    overflow-y: auto;
    height: 400px;
}



.carDetailsView {
    flex: 1;
    padding-left: 20px;
}

.carDetailsView h1 {
    margin-bottom: 20px;
}

.carDetailsViewDetails {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ccc;
}

.carDetailsViewDetailsName {
    font-size: 28px;
    margin-bottom: 10px;
}

.carDetailsViewDetailsBY {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.carDetailsViewDetailsBY p {
    margin: 0;
}

.carDetailsViewDetailsFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}