.carsModButtonAdd {
    border: transparent;
    background: transparent;
    cursor: pointer;
    margin-right: 10%;
    transition: transform 0.5s;
}

.carsModButtonAdd:hover {
    transform: scale(1.2);
}